.commonInfo {
  margin-left: 310.5px;
  position: relative;
}

.edit {
  width: 293px;
  height: 77px;
  background: linear-gradient(#441e78, #633d8d);
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 36.6px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 20px 20px 200px rgba(240, 240, 240, 0.48);
  border-radius: 10px;
  margin-top: 20px;
}

.edit:hover {
  opacity: 0.7;
  transition: 0.9s;
}

.commonInfo__value {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 36.6px;
  cursor: pointer;
}

.commonInfo__copy {
  position: absolute;
  top: 18%;
  left: 62%;
  width: 130px;
  padding: 0 0 0 10px;
  opacity: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  transition: 1s;
  visibility: hidden;
}

.commonInfo__copy:hover {
  opacity: 1;
  visibility: visible;
}

.commonInfo__copy::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  background-image: url(../../images/Copy-regular.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
}

.commonInfo__value:hover + .commonInfo__copy {
  visibility: visible;
  opacity: 0.7;
  transition: opacity 1.7s ease;
}
